<div class="product-form-container">
    <h2>publicar fotos</h2>

    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Nome</label>
            <input type="text" id="title" name="title" [(ngModel)]="post.title" placeholder="Digite o titulo" required />
        </div>

        <div class="form-group">
            <label for="author">autor</label>
            <input type="text" id="author" name="author" [(ngModel)]="post.author" placeholder="digite o nome do autor" required />
        </div>

        <div class="form-group">
            <label for="description">descricao</label>
            <textarea
            id="description"
            [(ngModel)]="post.description"
            placeholder="digite uma breve descricao"
            required
            rows="4"
            cols="50">
        </textarea>
        </div>

        <div class="form-group">
            <label for="imageUrl">URL da imagem</label>
            <input type="text" id="imageUrl" name="imageUrl" [(ngModel)]="post.imageUrl" placeholder="insira a url da imagem" required />
        </div>

        <button type="submit">publicar</button>
    </form>
</div>